# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
.expo/
.expo-shared/
*.tsbuildinfo

# turbo
.turbo/

# env & secrets
.env
.env.*
!.env.example

# supabase local
supabase/.branches/
supabase/.temp/
supabase/.env

# logs / os
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/
